<html>
<head>
	
	<title>Kartsi - server</title>
</head>
<body>
	<h1>Players</h1>
	<ul id="players"></ul>
	<h1>Karts</h1>
	<ul id="karts"></ul>

</body>
<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="/lib/mustache.min.js"></script>
<script src="/lib/socket.io.js"></script>
<script src="/lib/jquery.min.js"></script>

<script type="text/javascript">

	$.get("./kartsi/players",function(data, status){
		var template = "{{#players}}<ul><li>{{_name}} {{_id}}</li></ul>{{/players}}";
		var html = Mustache.to_html(template, data);
		$('#players').html(html);
	});

	$.get("./kartsi/karts",function(data, status){
		var template = '{{#karts}}<ul><li class="{{_current_power}}">{{_available}} {{_bt_mac}} {{_current_power}}</ul>{{/karts}}';
		var html = Mustache.to_html(template, data);
		$("#karts").html(html);
	})

</script>

</html>
